body{
   background-color: hsl(0, 4%, 55%);

}

div.NavBar{
display: flex;
flex-direction: row;
 /* border: 2px dotted #a52a2a;  */
background-color: black;
height: 75px;
margin-bottom: 2%; 
margin-left: 0.025%;
margin-right: 0.025%;
width: 100%;
text-align: left;
justify-content: space-around;

}



div.nb{
    width: 20%;
padding-top: 2.175%;
padding-bottom: 3%;
margin-left: 2%;
margin-right: 2%;
font-size: 1.2em;

font-family: Arial, Helvetica, sans-serif;
margin-bottom: 5%;
/* border: 2px dotted white;   */
text-align:left;
justify-content:center;
position:relative;

font-family: Arial, Helvetica, sans-serif;

}
div.nb a{
    color:bisque
}
div#footer{
    display: flex;
    background-color: black;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
   
   
}

div.foot{
    width: 100%;
    font-size: 14pt;
    padding-top: 2em;
    /* padding-bottom: 4em;
    margin-top: 2em;
    margin-bottom: 2em; */
    text-align: center;
    /* border: 2px dotted white */
}

div#footers{
  display: flex;
  background-color: black;
  color: wheat;
  font-family: Arial, Helvetica, sans-serif;
position: relative;

width: 100%;
text-align: center;
margin-top: 50%;


 
}
div.foots{
  width: 100%;
  font-size: 14pt;
  padding-top: 1em;
  padding-bottom: 10px;
  /* padding-bottom: 4em;
  margin-top: 2em;
  margin-bottom: 2em; */
  text-align: center;
  /* border: 2px dotted white */
}



h1{
    text-align: center;
    color: azure;
    font-size: 5em;
  
}



div.wit{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 93px;
  margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
  
    width: 80%;
  

}

div.wit h1{
    font-size: 1.8em;
}

img#imgsens{
    width: 350px;
    height: 300px;
    float:right;
    position:static;
  margin:.2em;
}

div.history{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 93px;
    margin-right: 50px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 2px;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width:80%;

}

div.history h1{
    font-size: 1.8em;
 
}

div.homeCaption{
  padding-top: 22%;
margin-top:-85px;
margin-bottom: -200px;
 }

 .homeCaption h1{
  color: red;
 }
div.whatHome{
    height: 90%;

margin-right: -20px;
    background-color: rgb(126, 101, 101);
    padding-top: 2%;
    padding-bottom: 1%;
    width: 100%;
    
}
div.histop{
    background-color: rosybrown;
    font-size: larger;
    font-weight: lighter;
    width: 100%;

}

img#gHome{
    width:200px;
    height:200px;
    float:right;
   margin: 1em;
}


div.dropdown {
    width: 20%;
padding-top: 1%;
padding-bottom: 5%;
margin-left: 2%;
margin-right: 2%;
font-size: 1.2em;

margin-top: 4%;
margin-bottom: 5%;
/* border: 2px dotted white;   */
text-align:left;
justify-content:center;
position: relative;
top: -55px;
left: -20px;
font-family: Arial, Helvetica, sans-serif;
}

div.dropdown .dropbtn {
    background-color: black;
    color: bisque;
    font-size: 1em;

    border: none;
    outline: none;
    padding: 10.5px 30px;
    margin-right: 10px;
    margin-left: 1px;
display: flex;
flex-direction: row;
    text-align: left;
    justify-content: left;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;

}

div.navigationBar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(35, 62, 78, 1)
}

div.Tcontent {
    background-color: rgba(226, 217, 196, 1);
    display: none;
    position: absolute;
    left: -35px;
    
   
}


div.Tcontent a{
    display: block;
    color: rgba(24, 16, 8,1);
    float: none;
    text-decoration: none;
    text-align: left;
    padding: 12px 40px;
}

div.Tcontent a:hover {
    background-color: rgba(35, 62, 78, 0.5);
}

div.nb:hover .Tcontent {
    display: block;
}

a{
    text-decoration: none;
}

div.homeCenter{
    text-align: center;
    background-color: rosybrown;
   
}

div.headHome{
     /* border: 3px dotted black;  */
    height: 100%;
 padding-left: 2%;
    background-color: rgb(126, 101, 101);
    padding-top: 1%;
}

div.forHome{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
  text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 27px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
  
    width: 90%;
    height: 25%;

  
 
}

div.forBell{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
  text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;

   
}


div.forFridge{
  overflow: hidden;
    background-color: rosybrown ;
    margin-left: 20px;
  text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;

    
}

div.forSensor{
    
   overflow: hidden;
    background-color: rosybrown;
    margin-left: 26px;
  
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;

    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;
}

div.forTractor{

    overflow: hidden;
    background-color: rosybrown;
    margin-left: 28px;
  
    margin-top: 23px;
    margin-bottom: 45px;
    padding-left: 25px;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;

}

div.forStation{
 
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 28px;
  
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
  
    padding-top: 10px;
    padding-bottom: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;
 
}

div.headHealthcare{
    /* border: 3px dotted black; */
   
 padding-left: 2%;
    background-color: rgb(126, 101, 101);
    padding-top: 2%;
    padding-bottom: 1%;
    
}

div.forRPM{
 
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;
}


div.forThermo{
   
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
  text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;
}
   


div.forWatch{
  
  overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
  text-align: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;

}
img#echoID{
    width: 30%;
    height: 201px;
    float:right;
    position:static;
    left:12%;
    top:650px;
  margin:.4em;
margin-right:20%
}
img#ringPic{
    width: 30%;
    height: 40%;
    float:left;
    position:static;
  margin:.5em;
  margin-left: 17%;


}

img#frio{
    width: 30%;
    height: 40%;
    float:right;
    position:static;
  margin:.2em;
  margin-right: 20%;
}

img#rHealth{
    width: 30%;
    height: 4%;
    float:right;
    position:static;
  margin:.2em;
  margin-right: 21%;
}

img#st{
    width: 30%;
    height: 251px;
    float:left;
    position:relative;
  margin:.2em;
  margin-left:20%;
  margin-top: 6%;
}

img#aw{
    width: 30%;
    height: 40%;
    float:right;
    position:static;
  margin:.2em;
  margin-right: 21%;
}
div.headAgriculture{
    /* border: 3px dotted black;  */
    height:100%;
 padding-left: 2%;
    background-color: rgb(126, 101, 101);
    padding-top: 2%;
    
}
img#sensImage{
    


 width:30%;
 height: 40%;
 float:left;
 position:static;
margin:.2em;
margin-left:18%;
margin-top:3%;
}
img#tractorImage{
  

width: 30%;
height: 40%;
float:right;
position:static;
margin: .3em;
margin-right: 14.3%;
margin-top: 3%;


}

img#watImg{
  

 width: 30%;
    height: 40%;
    float:left;
    position:static;
  margin:.2em;
  margin-left: 16%;
}


div.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rosybrown;
  }
  
  div.headerNew{
    background-color: rosybrown;
    font-size: larger;
    font-weight: lighter;
    width: 100%;
  }

  div.leftcolumn {   
   
    width: 100%;

 

  }
  
  div.row{
    font-size: 1.2em;
   

    background-color: rgb(126, 101, 101);
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 5.1%;
  }
 
  div.card {
     background-color: rosybrown;
     padding: 20px;
     margin-top: 20px;
     font-size: 1.2em;
     width: 90%;
  }

  div.newsIntro{
    
    font-weight: bolder;
    color: wheat;
    text-align: center;
    margin-bottom: 2%;
  }

  div.newsIntro p{
    font-size: 24px;
  }

  div.card h2{
    color:wheat
  }

  div.typeHome{
    font-size: 1.2em;
    height:100%;

    background-color: rgb(126, 101, 101);
    padding-top: 2%;
    padding-left: 1.5%;
  }

  div.typeHome h1{
    font-size: 3em;
  }

  div.sensorType{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
    text-align: right;
    justify-content: right;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    height: 25%;
    width: 90%;
    position: relative;
  }

  img#robot{
    width: 25%;
    height: 201px;
    position: static;
    float: left;
    bottom:0%;
    left:0%;
    margin-left: 14%;
    margin-bottom: 2%;
  }

  div.internet{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
  text-align: left;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    height: 25%;
    width: 90%;
    position: relative;
  }

  img#wifi{
    width: 28%;
    height: 22%;
    position: static;
    float: right;
   margin-right: 19%;
   margin-bottom: 2%;
  }

  div.contact{
    overflow: hidden;
    background-color: rosybrown;
    margin-left: 20px;
    text-align:left;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
    height: 25%;
    width: 90%;
    position: relative;
  }

  img#connecting{
    width: 33%;
    height: 40%;
    position: static;
    float: right;
    margin-top: 1%;
    
  }
div.typeHead{
margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
  background: rosybrown;
}

div.typeCaption{
  font-size: 1.5em;
  font-weight: bolder;
  color: wheat;
  text-align: center;
  margin-top: 6%;
padding-bottom: 2%;
}

@media (max-width : 700px){

 div.homeCaption{
  padding-top: 20%;
 }

 
  div.wit{
    margin-left: 15px;
    width: 80%;
   
  }

  img#imgsens{
    margin-right: -16px;
  }

  img#gHome{
    margin-right: -18px;
  }

  div.history{
    margin-left: 15px;
    width: 80%;
  }
  div.whatHome{
    margin-right: 200px;
  }
  div.row{
    padding-right: 20px;
    padding-bottom: 30px;
  }
  div.sensorType{
    margin-left:-6px;
    width: fit-content;
    margin-top: 5.5%;
float: left;
font-size: 1.1em;
  }
  div.contact{
    margin-left:-6px;
    width: fit-content;
    font-size: 1.1em;
  }
  div.internet{
    margin-left:-6px;
    width: fit-content;
    font-size: 1.1em;
  
  
  }
  img#wifi{
    display:none;
 position: absolute;
 bottom:8%;
  }
 
  img#connecting{
    display:none;
    position: absolute;
    bottom:8%;
    right:3%;
     }
     div.conTitle{
  
     top: 50%;
     right: 28%;

     }
     img#robot{
     display: none;
      position: absolute;
      bottom:10%;
      left: 15%;
       }

       div.forHome, div.forBell, div.forFridge{
        margin-left:-8px;
        width: fit-content;
        
       }

       img#ringPic{
        margin-left: 1%;
        margin-top: 5%;
       }

       img#frio{
        margin-right: 2%;
        margin-top: 5%;
       }
       div.forSensor, div.forTractor, div.forStation{
        margin-left:-8px;
        width: fit-content;
       }
       div.forRPM, div.forThermo, div.forWatch{
        margin-left:-8px;
    width: fit-content;
       }       
     
      div.finalHead, div.futureThoughts{
        font-size: 1.1em;
      }

     div.issueHome{
        margin-right: 10%;
      }

      div.issueOne{
        margin-left: 4%;
      }

      .issueTwo{
        margin-left: 4%;
      }  

      img#vs,img#neg, img#pos{
  visibility: hidden;
  position: relative;
  top:0%
      }

      div.finalNegative{
      position: relative;
      top:-160px;
      right: -21px;
   
      }

      div.finalPositive{
position: relative;
top: -160px;
left: -40px;
      }

      div.finalHead, div.futureThoughts{
        font-size: 16pt;
      }

     
  
    }

 div.dontshow{
  display: none;
  position: relative;
}

div.something{

  display: flex;
  justify-content: center;
}

img#neg{
  width:23%;
  height: 30%;
  position: absolute;
  left: 73.75%;
  padding-top: 2%;
  padding-bottom: 10%;


}
img#vs{
  width:23%;
  height: 30%;
  position: absolute;
  left:38%;
   padding-top: 2%;
   padding-bottom: 10%;

}
img#pos{
  width:23%;
  height: 30%;
  position: absolute;
  float: left;
   padding-top: 2%;
   left: 3%;
 
  
}

div.finalPositive{

  padding-top: 30%;
text-align: center;
position: relative;


}

.finalNegative{
  padding-bottom: 10%;
}

#posList{
  text-align: center;
  list-style-position: inside;
  color:springgreen;
  float: left;
  position: relative;
  top:40px;

  font-size: 1.3em;
}

#negList{
  text-align: center;
  list-style-position: inside;
  color:maroon;
  float: right;
  position: relative;
top: 40px;
right: 4%;
font-size: 1.3em;
}



div.futureCaption{

    font-size: 3em;
    font-weight: bolder;
    color: wheat;
    text-align: center;
    margin-top: 6%;
  padding-bottom: 2%;
  }

  #networkVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    height: 120vh;
    z-index: -1; 
  }
    /* width: 100vw;
  height: 100vh;
  object-fit:contain;
  position: fixed;
  left: 0vw;
  top: 0vh;
   /* z-index: -1;  */

   .finalHead{
    font-size: 1.8em;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rosybrown;
   }

   .futureThoughts{
   
      font-size: 1.5em;
      text-align: center;
  padding-top: 8%;
  padding-bottom: 3%;
      background-color:rosybrown
     }

     div.issueOne{
      overflow: hidden;
      background-color: rosybrown;
      margin-left: 80px;
    margin-right: 50px;
      margin-top: 25px;
      margin-bottom: 25px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 5px;
      padding-bottom: 12px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 1.5em;
    
      width: 80%;
    
  
  }
  
  div.issueOne h1{
      font-size: 1.8em;
  }
     div.issueTwo{
      overflow: hidden;
      background-color: rosybrown;
      margin-left: 80px;
      margin-right: 50px;
      margin-top: 2px;
      margin-bottom: 2px;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 12px;
      padding-bottom: 2px;
      font-size: 1.7em;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      width:80%;
      text-align: center;
      list-style-position:inside;
  
  }
  
  div.issueTwo h1{
      font-size: 1.8em;
   
  }

  div.issueHome{
    height: 90%;

margin-right: -20px;
    background-color: rgb(126, 101, 101);
    padding-top: 1.5%;
    padding-bottom: 2%;
    width: 100%;
    
}

div.issueCaption{
  font-size: 1.5em;
  font-weight: bolder;
  color: wheat;
  text-align: center;
  margin-top: 6%;
padding-bottom: 2%;
}

div.issuetop{
  margin-bottom: 5%;
    font-size: 20px;
    text-align: center;
    background: rosybrown;
  }
  img#vuln{
    width:250px;
    height:250px;
    position: static;
    float:left;
   margin-top: -90px;
   margin-left:4px;
}

button{
  background-color: orchid;
  color: white;
  font-size: x-large;
  
}

button:hover{
  background-color: red;
  color: black;
}

   

   

  

 
 





  
  
 
 