div.NavBar{
display: flex;
/* border: 2px dotted brown; */

}

div.nb{
    width: 100%;
padding-top: 5%;
padding-bottom: 5%;
margin-left: 2%;
margin-right: 2%;
font-size: large;
height: 5px;
margin-top: 4%;
margin-bottom: 5%;
/* border: 2px dotted black; */
text-align:center;
}

div#footer{
    display: flex;
   
 
}

div.foot{
    width: 50%;
    font-size: 14pt;
    padding-top: 4em;
    /* padding-bottom: 4em;
    margin-top: 2em;
    margin-bottom: 2em; */
    text-align: center;
    justify-content: space-between;
    /* border: 2px dotted white */
}

body{
 background-color:lightslategray;
}

h1{
    text-align: center;
    color: azure;
}

div.wit{
    overflow: hidden;
    background-color: peru;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.4em;
}

div.history{
    overflow: hidden;
    background-color: peru;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
